.recipe-view-subtitle {
	font-size: 1.2rem;
}

.recipe-view-item:before {
	content: "• ";
}

.recipe-view {
	max-width: 30rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 2rem;
	padding: 1rem;
	gap: 1rem;
	flex: 1 0 50%;
	border-radius: 0.5rem;
	background: var(--background-secondary);
}

.recipe-view > *,
.recipe-view > * > *,
.recipe-view > * > * > *,
.recipe-view > * > * > * > * {
	background: var(--background-secondary);
}

.recipe-view-item,
.recipe-view-subtitle,
.recipe-view-title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.recipe-view-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.recipe-view-subtitle {
	font-size: 1.2rem;
}