.view-recipe-subtitle {
	font-size: 1.2rem;
}

.view-recipe-item:before {
	content: "• ";
}

.recipe-view {
	min-width: 30rem;
	max-width: 30rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 2rem;
	padding: 1rem;
	gap: 1rem;
	flex: 1 0 50%;
	border-radius: 0.5rem;
	background: var(--background-secondary);
}

.recipe-view > *,
.recipe-view > * > *,
.recipe-view > * > * > *,
.recipe-view > * > * > * > * {
	background: var(--background-secondary);
}

.view-recipe-item,
.view-recipe-subtitle,
.view-recipe-title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.view-recipe-title {
	font-size: 1.5rem;
	font-weight: bold;
}
