#liquids-container,
#yeast-container,
#honey-container,
#addons-container,
#recipe-name-container,
#chemicals-container,
#recipe-size-container {
	padding: 0 1rem;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1000px;
}

#recipe-description-container {
	padding: 1rem;
}

#create-form button {
	margin: 0rem;
}

#create-form {
	display: flex;
	gap: 1rem;
	align-items: flex-start;
	justify-content: left;
	flex-direction: column;
}

.add-button {
	margin: 0 1rem!important;
}

.w-md-editor-toolbar,
.wmde-markdown,
.wmde-markdown-color {
	background: var(--background);
}

#yeast-container > div {
	width: 100%;
}

#create-form {
	margin-top: 1rem;
}

@media (max-width: 600px) {
	#liquids-container,
	#yeast-container,
	#honey-container,
	#addons-container,
	#chemicals-container {
		flex-direction: column;
	}
	#create-form > div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	#create-form,
	#create-form > div
	 {	
		align-items: center;
	}
	h3 {
		margin-left: 0rem!important;
	}
}

h3 {
	margin-left: 1rem;
}
