#create-batch-form-container {
	max-width: 1000px;
	margin: 1rem;
}

#create-batch-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
}

#equipment-container {
	display: flex;
	gap: 1rem;
}

@media (max-width: 800px) {
	#equipment-container {
		flex-direction: column;
	}

	.error-message {
		text-align: center;
	}
}

.error-message {
	color: var(--danger);
	font-weight: bold;
}

#create-batch-stage-label {
	font-weight: bold;
}

.bold-and-bigger {
	font-weight: bold;
	font-size: 1.2rem;
}

input[type="datetime-local"],
select {
	border: 1px solid var(--highlight);
	color: white !important;
}

/* Hide the default arrow icon */
input[type="datetime-local"]::-webkit-calendar-picsker-indicator,
input[type="datetime-local"]::-webkit-inner-spin-button {
	width: 100px;
	height: 100px;
}

/* Style the wrapper element */
.datetime-wrapper {
	position: relative;
}

/* Position the custom icon */
.datetime-wrapper .custom-icon {
	position: absolute;
	left: 235px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	font-size: 18px;
	pointer-events: none;

}

