#dashboard-recipes-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0 1rem;
	gap: 1rem;
	flex-direction: column;
}

#dashboard button {
	width: 160px;
}

#dashboard #delete-cancel,
#dashboard #delete-confirm {
	width: 100px;
}

@media (min-width: 1000px) {
	#dashboard {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	#dashboard-recipes-container,
	#dashboard-recipes-container > * {
		width: 1000px;
	}
}

#dashboard-recipes-container > *,
#dashboard-batches-container {
	width: 100%;
	max-width: 1000px;
}

#recipe-title {
	margin: 1rem;
	text-align: center;
}

.dashboard-recipe-container * {
	background: var(--background-secondary);
}

.dashboard-recipe {
	padding: 2rem;
	border-radius: 0.5rem;
	display: flex;
	justify-content: space-between;
}

.dashboard-recipe-title {
	font-size: 1.25rem;
	font-weight: 500;
}

.dashboard-recipe-left {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.dashboard-recipe-yeast,
.dashboard-recipe-size,
.dashboard-batch-stage,
.dashboard-batch-gravity,
.dashboard-batch-recipeid {
	position: relative;
	padding-left: 1rem !important;
}

.dashboard-recipe-yeast::before,
.dashboard-recipe-size::before,
.dashboard-batch-stage::before,
.dashboard-batch-gravity::before,
.dashboard-batch-recipeid::before {
	font-weight: bold;
	content: "•"; /* Unicode for the bullet point (can be replaced with any other symbol or text) */
	position: absolute;
	left: 0;
	top: 0;
}

.batch-container {
	padding: 0rem !important;
}

.batch-info > * {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.batch-info {
	display: flex;
	flex-direction: column;
	gap: 1rem !important;
	margin-top: 1rem;
}

.dashboard-delete-recipe,
.dashboard-delete-batch {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 200px;
}

.dashboard-delete-batch > *,
.dashboard-delete-recipe > * > *,
.dashboard-delete-recipe > * > * > *,
.dashboard-delete-recipe > * > * > * > * {
	background: var(--background-secondary);
}

.text-danger,
#delete-are-you-sure {
	background: var(--background-secondary);
}

@media (max-width: 800px) {
	.dashboard-recipe,
	.dashboard-batch {
		flex-direction: column;
	}
	.dashboard-batch {
		width: auto!important;
		max-width: 100%;
		margin-left :1rem;
		margin-right: 1rem;
	}
	.dashboard-delete-recipe,
	.dashboard-delete-batch {
		max-width: 100%;
		margin-top: 1rem;
	}
	.dashboard-recipe-left {
		align-items: center;
	}
}

#recipes-title,
#batches-title {
	text-align: center;
	margin: 1rem 0;
}

.create-batch-button {
	background: var(--background);
	border-radius: 0.5rem;
	padding: 1rem;
}

.dashboard-delete-batch {
	margin: 1rem;
}

.batch-info {
	padding: 0rem !important;
}

.bigger {
	font-size: 1.25rem;
}

#dashboard-batches-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 5rem;
}

.dashboard-batch {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	border-radius: 0.5rem;
	width: 100%;
	background: var(--background-secondary);
}

.sign-in-to-create-batch-link {
	font-size: 0.95rem;
}

.no-recipes {
	text-align: center;
}