#header-container {
	display: flex;
	padding: 1.5rem;
	background: var(--background-secondary);
	border-radius: 2px;
}

@media (max-width: 800px) {
	#header-rest-container,
	#header-container {
		flex-direction: column;
		gap: 1rem;
		align-items: center;
		justify-content: center;
	}
}

#header-rest-container {
	background: var(--background-secondary);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

#header-rest-container > * {
	background: var(--background-secondary);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

#header-rest-container > * > * {
	background: var(--background-secondary);
	display: flex;
	align-items: center;
	justify-content: space-center;
}

#header-logo-container,
#header-logo-container > * {
	background: var(--background-secondary);
	text-decoration: none;
}

#header-rest-container > * {
	text-decoration: none;
}
